.verse {
  /* display: flex; */

  /* flex-wrap: wrap; */
}

.group {
  display: inline-flex;

  flex-direction: column;
  /* align-items: flex-start; */
  /* height: 40px; */
  /* position: relative; */
  /* justify-content: center; */
  /* align-items: center; */
}

.added {
  color: green;
  align-self: flex-start;
  /* position: relative; */
  /* position: relative; */
  /* top: -10px; */
}

.removed {
  color: red;
  /* align-self: flex-end; */
  /* position: absolute; */
  /* position: relative; */
  /* top: 10px; */
}
